/* Styles specific to AP & Network */
#nt-portal .ap-network-style-0 {
    margin-top: 8px
}

#nt-portal .ap-network-style-1 {
    margin-top: 12px
}

#nt-portal .ap-network-style-2 {
    margin-top: 12px
}

#nt-portal #nt-view-access {
    min-width: 0;
}

#nt-portal #nt-view-access {
    max-width: 1200px;
}