/* Styles specific to Dashboard */
#nt-portal .dashboard-style-0 {
    margin: 0
}

#nt-portal .dashboard-style-1 {
    text-align: center
}

#nt-portal .dashboard-style-2 {
    margin-top: 12px
}

#nt-portal .dashboard-style-3 {
    margin-top: 12px
}

#nt-portal .dashboard-style-4 {
    margin: 0
}

#nt-portal .dashboard-style-5 {
    margin-top: 8px
}

#nt-portal .dashboard-style-6 {
    margin-top: 10px
}

#nt-portal .dashboard-style-7 {
    margin-top: 12px
}

#nt-portal .dashboard-style-8 {
    margin: 0
}

#nt-portal #nt-view-dashboard {
    min-width: 0;
}