/* Dashboard */
#nt-portal .page-style-0 {
    margin: 0
}

#nt-portal .page-style-1 {
    text-align: center
}

#nt-portal .page-style-2 {
    margin-top: 12px
}

#nt-portal .page-style-3 {
    margin-top: 12px
}

#nt-portal .page-style-4 {
    margin: 0
}

#nt-portal .page-style-5 {
    margin-top: 8px
}

#nt-portal .page-style-6 {
    margin-top: 10px
}

#nt-portal .page-style-7 {
    margin-top: 12px
}

#nt-portal .page-style-8 {
    margin: 0
}