/* Styles specific to Portal Configuration */
#nt-portal .portal-config-style-0 {
    margin-bottom: 14px
}

#nt-portal .portal-config-style-1 {
    margin-top: 12px
}

#nt-portal .portal-config-style-2 {
    margin-bottom: 12px
}

#nt-portal .portal-config-style-3 {
    margin: 0
}

#nt-portal .portal-config-style-4 {
    margin-bottom: 10px
}

#nt-portal #nt-view-builder {
    min-width: 0;
}