/* Portal Configuration */
#nt-portal .page-style-0 {
    margin-bottom: 14px
}

#nt-portal .page-style-1 {
    margin-top: 12px
}

#nt-portal .page-style-2 {
    margin-bottom: 12px
}

#nt-portal .page-style-3 {
    margin: 0
}

#nt-portal .page-style-4 {
    margin-bottom: 10px
}